{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    	<h1>Guide</h1>
    	<dl>
    		<dt>Part</dt>
    		<dd>
    			Building block of a product. Ex: battery, monitor
    			<ul>
    				Actions:
    				<li><a href="#">Add</a></li>
    				<li><a href="#">Delete</a></li>
    				<li><a href="#">Update</a></li>
    				<li><a href="#">List parts</a></li>
    			</ul>
    		</dd>
    	</dl>
    	<dl>
    		<dt>Products</dt>
    		<dd>
    			Items we sell.
    			<ul>
    				Actions:
    				<li><a href="#">Add product</a>: form to add product with name, category, and optionally by pulling from parts inventory</li>
    				<li><a href="#">Add part</a>: add part to product</li>
    				<li><a href="#">List products</a>: Get all product from database</li>
    				<li><a href="#">Delete product</a>: Delete product from inventory</li>
    				<li><a href="#">Update product</a>: Change name, parts</li>
    			</ul>
    		</dd>
    	</dl>
    </div>
{% endblock %}
